body {
	font: 10px sans-serif;
}

.country {
	fill: #999;
}

.axis line,
.axis path {
	fill: none;
	stroke: #999;
	shape-rendering: crispEdges;
}

.marker {
	fill: red;
}

#highlight {
	fill: blue;
}

#tooltip {
	position: absolute;
	background: #000;
	padding: 3px 7px;
	color: #fff;
	opacity: 0;
}

.bar {
	fill: #999;
}